/* *************************/
/* COLOR */
/* *************************/

/* 
bg-top:#009687 
bg-bottom:#dadbd4/



/* *************************/
/* GENERIC */
/* *************************/
body {
    background-image:
        linear-gradient(to bottom, #009687 100px, #dadbd4 100px, #dadbd4 100%);
    height: 100vh;
}

.general-container {
    border: 3px solid black;
    height: 90vh;
    width: 80vw;
    margin: 2rem auto 0;
}

/* CONTAINER in General-container */

/* *************************/
/* Contact 
/* *************************/

.header-left {
    background-color: #dadbd4;
    height: 70px;
}

.b-blue {
    background-color: #8edafb;
}

.notifiche-container {
    height: 10vh;
}

.notifiche {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 10px;
}

.ricerca-container {

    height: 5vh;

}

.container-listacontact {
    height: 55vh;
    overflow-y: scroll;
    margin-top: 14px;
    background-color: white;

}

/* *************************/
/* Chat LEFT
/* *************************/
.header-right {
    background-color: #dadbd4;
    height: 85px;
}

.chat-dinamica {

    background-image: url("../img/mine.jpg");
    border: 1px solid lightgray;
    overflow-y: scroll;
    height: 70vh;
}

.chat-input {
    height: 10vh;
}

.date-message {
    font-size: 12px;
}

/* *************************/
/* Icone FontAwensome
/* *************************/
.fa {
    color: gray;
    cursor: pointer;
    font-size: 1.2rem;
}

/* *************************/
/* IMMAGINI
/* *************************/

.img-profilo {
    width: 50px;
    border-radius: 50px;
}


/* *************************/
/* Main */
/* *************************/


/* *************************/
/* Footer */
/* *************************/

/* CHAT STYLE & JS DYNAMIC CLASS MESSAGES */
.text-message {


    border-radius: 15px;
    max-height: 100px;
    margin: 10px;
}

.text-message-inviato {
    background-color: #dcf8c6;
    border-radius: 15px;
}

.text-message-rivevuto {
    background-color: white;

}