/* *************************/
/* COLOR */
/* *************************/

/* 
bg-top:#009687 
bg-bottom:#dadbd4/



/* *************************/
/* GENERIC */
/* *************************/
body {
    background-image:
        linear-gradient(to bottom, #009687 100px, #dadbd4 100px, #dadbd4 100%);
    height: 100vh;
}

.general-container {
    border: 3px solid black;
    height: 90vh;
    width: 80vw;
    margin: 2rem auto 0;
}

/* CONTAINER in General-container */

.contact {
    background-color: yellow;

}

.chat {
    background-color: green;
    height: 200px;
}


/* *************************/
/* IMMAGINI
/* *************************/

.img-profilo {
    width: 50px;
    border-radius: 50px;
}


/* *************************/
/* Header LEFT
/* *************************/


/* *************************/
/* Main */
/* *************************/








/* *************************/
/* Footer */
/* *************************/