/* *************************/
/* COLOR */
/* *************************/

/* 
bg-top:#009687 
bg-bottom:#dadbd4/



/* *************************/
/* GENERIC */
/* *************************/
body {
    background-image:
        linear-gradient(to bottom, #009687 100px, #dadbd4 100px, #dadbd4 100%);
    height: 100vh;
}

.general-container {
    border: 3px solid black;
    height: 90vh;
    width: 80vw;
    margin: 2rem auto 0;
}


.row {
    border: 2px dashed yellow;
}

.row>[class^='col'] {
    min-height: 100px;
    background-color: blanchedalmond;
    border: 1px gray solid;
}

.row .row>[class^='col'] {
    background-color: orange;

}


/* *************************/
/* UTILITIES */
/* *************************/



/* *************************/
/* Header
/* *************************/


/* *************************/
/* Main */
/* *************************/








/* *************************/
/* Footer */
/* *************************/